body{
	width: 60vw;
	margin: auto;
}

.titulo-principal{
	font-size: 22px;
	margin-bottom: 0px;
}
.cabecalho {
	display: flex;
	flex-direction: column;
}

hr {
	width: 100%;
}

.subtitulo {
   	font-size : 20px;
   	color: #32CD32;
   	margin-bottom: 10px;
   	line-height: 1px;
}

#evidencias{
	text-align: center;
	font-size : 20px;
	color: #99A3A4 ;     
}
.imagens{
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}

.imagem-legenda{
	background: #FFFFFF;
    border: 1px solid black;
	display: inline-block;	
	vertical-align: top;
	padding: 10px;
}

.cinza{
	width: 100%;
	height: auto;
}

.formato-quadro{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 60px;
}
table{
  border-collapse: collapse;
  border: 1px solid #808080;
  width: 100%;
}
.cabecalho-informacoes{
  background: #32CD32;
  color: #FFFFFF;
}
.cabecalho-informacoes td{
  text-align: center ;
  border:0px 
}

.corpo-informacoes td {
  padding: 10px 10px;
}
.primeira-coluna{
  text-align: left;
}

#map {
	display: flex ;
	justify-content: space-around;

}
.rodape{
	color: #32CD32;
	font-size : 18px;
	font-weight: bold;
}