
.titulo-principal{
	
	padding-left: 20px;
	font-size : 20px;

}

.cabecalho {
   
   	padding-left: 20px;
   	font-size : 18px;
   	color: #32CD32;

}
#missao{
	text-align: center;
	font-size : 20px;
	color: #99A3A4 ;

}